<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Assignment2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SinupServlet</display-name>
    <servlet-name>SinupServlet</servlet-name>
    <servlet-class>SinupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SinupServlet</servlet-name>
    <url-pattern>/SinupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SigninServlet</display-name>
    <servlet-name>SigninServlet</servlet-name>
    <servlet-class>SigninServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninServlet</servlet-name>
    <url-pattern>/SigninServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdmissionServlet</display-name>
    <servlet-name>AdmissionServlet</servlet-name>
    <servlet-class>AdmissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmissionServlet</servlet-name>
    <url-pattern>/AdmissionServlet</url-pattern>
  </servlet-mapping>
</web-app>